.site-layout-content {
    min-height: 700px;
    padding: 24px;
    background: #fff;
}

.inner-layout-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    float: left;
    width: 120px;
    height: 31px;
    margin: 16px 24px 16px 0;
    background: #fff;
    line-height: 100%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

.ant-btn {
    margin-right: 5px
}
